.jumbotron {
						  background-color: #0D8EC0;
						  color: #f8f8f8;
						  padding: 100px 25px;
						  font-family: Montserrat, sans-serif;
					  }
.container-fluid {
      padding: 60px 50px;
  }

  
#calcForm{
	background-color:#0D8EC0;
	color:#fff;
}  

body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
	  background-color:#f8f8f8;
      
  }
 


#about{
	background-color:#f8f8f8;
}
  
  
  
  